Item-Based Collaborative Filtering
========================

In [446]:
import pandas as pd
import numpy as np
#from StringIO import StringIO

from scipy import stats

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')#give a nice white grid background for visualizations
#plt.switch_backend('GTKAgg')
%matplotlib inline

In [447]:
r_cols = ['user_id', 'game_id', 'rating']
reviews = pd.read_csv('C://Users/pmlef/Documents/Python_work/Python_for_Data_Analysis/Recommender Data/boardgame-elite-users.csv', sep=',', names=r_cols, dtype='str', skiprows=1, usecols=range(3), encoding="utf-8")

my_reviews = pd.read_csv('C://Users/pmlef/Documents/Python_work/Python_for_Data_Analysis/Recommender Data/my-ratings.csv', sep=',', names=r_cols, dtype='str', skiprows=1, usecols=range(3), encoding="utf-8")

#In the future should probably use a different seperator because ',' is too common
m_cols = ['game_id', 'title']
games = pd.read_csv('C://Users/pmlef/Documents/Python_work/Python_for_Data_Analysis/Recommender Data/boardgame-titles.csv', sep=',', names=m_cols, dtype='str',skiprows=1,usecols=range(2), encoding="utf-8")

#ratings = pd.merge(games, reviews)

reviews.info(),print('     '), games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59293 entries, 0 to 59292
Data columns (total 3 columns):
user_id    59293 non-null object
game_id    59293 non-null object
rating     59293 non-null object
dtypes: object(3)
memory usage: 1.4+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 402 entries, 0 to 401
Data columns (total 2 columns):
game_id    402 non-null object
title      402 non-null object
dtypes: object(2)
memory usage: 6.4+ KB

(None, None, None)

In [448]:
my_reviews

    user_id game_id rating
0   9999999      13      8
1   9999999      74      5
2   9999999      98      4
3   9999999     171      7
4   9999999     181      7
5   9999999     188      4
6   9999999     320      4
7   9999999     463      9
8   9999999     891      2
9   9999999     926      7
10  9999999    1406      4
11  9999999    1111      5
12  9999999    1927      5
13  9999999    1917      4
14  9999999    2083      3
15  9999999    2807      7
16  9999999    2223      3
17  9999999    2243      2
18  9999999    2252      4
19  9999999    2397      4
20  9999999    2471      4
21  9999999    1294      6
22  9999999   12692      5
23  9999999   20551      6
24  9999999   30549      6
25  9999999   39856      6
26  9999999   50381      4
27  9999999   55660      4
28  9999999   65244      5
29  9999999   77130      5
30  9999999  147020      6
31  9999999  181304      6

In [449]:
reviews[:10]

  user_id game_id rating
0     272    9216      1
1     272    9217      1
2     272   39938      1
3     272   15363      5
4     272   24068      1
5     272   70149      1
6     272   43015      1
7     272  107529      1
8     272      10      1
9     272      12      1

In [450]:
games[:10]

  game_id                                    title
0   13004                  The Downfall of Pompeii
1   66188                                   Fresco
2     503                       Through the Desert
3   66690                     Dominion: Prosperity
4     150                                 PitchCar
5     181                                     Risk
6   21059  Arkham Horror: Dunwich Horror Expansion
7   90419                          Airlines Europe
8   31627         Ticket to Ride: Nordic Countries
9   41114                           The Resistance

In [451]:
reviews = reviews.append(my_reviews)

In [452]:
reviews

    user_id game_id rating
0       272    9216      1
1       272    9217      1
2       272   39938      1
3       272   15363      5
4       272   24068      1
5       272   70149      1
6       272   43015      1
7       272  107529      1
8       272      10      1
9       272      12      1
10      272      13    7.5
11      272   54625      1
12      272   22545      1
13      272      18      1
14      272       3      1
15      272      47      1
16      272   15364      1
17      272   27162      1
18      272  103343      1
19      272   31260      1
20      272   16986      1
21      272       5      1
22      272    9220      1
23      272  115746      2
24      272    1115    1.5
25      272  100901      1
26      272   39463      7
27      272      41      4
28      272   59946      1
29      272     555      1
..      ...     ...    ...
2   9999999      98      4
3   9999999     171      7
4   9999999     181      7
5   9999999     188      4
6   9999999     320      4
7   9999999     463      9
8   9999999     891      2
9   9999999     926      7
10  9999999    1406      4
11  9999999    1111      5
12  9999999    1927      5
13  9999999    1917      4
14  9999999    2083      3
15  9999999    2807      7
16  9999999    2223      3
17  9999999    2243      2
18  9999999    2252      4
19  9999999    2397      4
20  9999999    2471      4
21  9999999    1294      6
22  9999999   12692      5
23  9999999   20551      6
24  9999999   30549      6
25  9999999   39856      6
26  9999999   50381      4
27  9999999   55660      4
28  9999999   65244      5
29  9999999   77130      5
30  9999999  147020      6
31  9999999  181304      6

[59325 rows x 3 columns]

In [453]:
ratings = pd.merge(reviews, games, on='game_id')

In [454]:
ratings.head()

  user_id game_id rating title
0     272    9216      1   Goa
1     388    9216     10   Goa
2     430    9216      8   Goa
3    2044    9216      8   Goa
4    3080    9216      8   Goa

In [455]:
#Checking titles after merge
ratings['title'].unique()

array(['Goa', 'Saint Petersburg', 'Carson City', 'Nexus Ops',
       'Shadow Hunters', 'Ora et Labora', 'Hansa Teutonica',
       'Kingdom Builder', 'Elfenland', 'Ra', 'Catan',
       'Space Hulk (third edition)',
       'Age of Empires III: The Age of Discovery', 'RoboRally', 'Samurai',
       'Chinatown', 'Vegas Showdown', 'Kingsburg',
       'A Game of Thrones: The Board Game (Second Edition)', 'Agricola',
       'Ubongo', 'Acquire', 'Saboteur', 'War of the Ring (Second Edition)',
       'Poker', 'Flash Point: Fire Rescue', 'Cosmic Encounter',
       "Can't Stop", 'Dungeons & Dragons: Castle Ravenloft Board Game',
       'The Princes of Florence', "Liar's Dice", 'Medici', 'Le Havre',
       'Brass: Lancashire', 'Friday', 'Ricochet Robots', 'Space Alert',
       'Tikal', 'Letters from Whitechapel', 'Finca', 'Mr. Jack Pocket',
       '1960: The Making of the President', 'Trains',
       'Robinson Crusoe: Adventures on the Cursed Island',
       'Descent: Journeys in the Dark', 'Claustrophobia', 'Qwirkle',
       'Village', 'Shogun', 'Dungeon Petz', 'Summoner Wars: Master Set',
       'Colosseum', 'Coloretto',
       'Through the Ages: A Story of Civilization',
       'Mage Knight Board Game', 'Rise of Augustus',
       'Agricola: All Creatures Big and Small', 'Bora Bora',
       'Alien Frontiers', 'Torres', 'Nations', 'Imperial Settlers',
       'El Grande', 'Terra Mystica', 'Tsuro', 'Axis & Allies',
       'Dominion: Seaside', 'Eldritch Horror', 'Chaos in the Old World',
       'Colossal Arena', 'Titan', 'Magic: The Gathering', "Pirate's Cove",
       'The Lord of the Rings: The Card Game', 'Condottiere',
       'Runebound (Second Edition)', 'Guillotine', 'Imperial',
       'Modern Art', 'Alhambra', 'Betrayal at House on the Hill',
       'Cleopatra and the Society of Architects',
       'Lord of the Rings: The Confrontation', 'Dominion: Prosperity',
       'Wits & Wagers', 'Space Hulk', 'Carcassonne: The Castle',
       'The Manhattan Project', 'No Thanks!', 'Keyflower',
       'Ticket to Ride: Europe', 'Thebes', 'Splendor',
       'Blood Bowl: Team Manager – The Card Game', 'Smash Up',
       'Terror in Meeple City', 'Ascension: Deckbuilding Game', 'Caylus',
       'Chess', 'For Sale', 'Formula Dé', 'Risk Legacy', 'UNO',
       'Discworld: Ankh-Morpork', 'Libertalia', 'BANG!', 'Quarriors!',
       'Ghost Stories', 'Concordia', 'Bruges', 'Steam', 'HeroQuest', 'Go',
       'Dominion', 'Thunderstone', 'Age of Steam', 'Las Vegas',
       'Merchants & Marauders', 'Fresco', 'The Downfall of Pompeii',
       'Cards Against Humanity', 'Twilight Imperium (Third Edition)',
       'Once Upon a Time: The Storytelling Card Game',
       "Tzolk'in: The Mayan Calendar", 'Shadows over Camelot', 'Tichu',
       'Euphoria: Build a Better Dystopia', 'Spot it!', 'Seasons',
       'Concept', 'Forbidden Island', "The Werewolves of Miller's Hollow",
       'Puerto Rico', 'Vikings',
       'Descent: Journeys in the Dark (Second Edition)', 'Tobago',
       'King of Tokyo', 'Cartagena', 'Railways of the World',
       'Eminent Domain', 'Fearsome Floors', 'King of New York',
       'Small World', 'London', 'Battlestar Galactica: The Board Game',
       'Battle Line', 'Galaxy Trucker', 'Hive',
       'Sentinels of the Multiverse', 'Tigris & Euphrates', 'Fluxx',
       'Mr. Jack', 'Zombicide', 'Cyclades', 'Kemet', 'Dominant Species',
       'Dominion: Intrigue', 'Roll Through the Ages: The Bronze Age',
       'Twilight Struggle', 'Catan Card Game', 'Trajan',
       'Commands & Colors: Ancients', 'Jaipur', 'Amun-Re', 'Coup',
       'Thurn and Taxis', 'Targi', 'Castles of Mad King Ludwig',
       'Taj Mahal', 'Mice and Mystics', "Ca$h 'n Gun$",
       'StarCraft: The Board Game', 'Last Will', 'Airlines Europe',
       'Backgammon', 'Lord of the Rings', 'At the Gates of Loyang',
       'Star Wars: Imperial Assault', 'Glen More', 'Troyes', 'Kahuna',
       'Survive: Escape from Atlantis!', 'Scrabble', 'Genoa', 'Power Grid',
       'Android: Netrunner', 'Tales of the Arabian Nights',
       'A Game of Thrones (first edition)', 'Pit',
       "Sid Meier's Civilization: The Board Game", 'Stone Age',
       'Lewis & Clark', 'Glass Road', 'Yspahan', 'Arkham Horror',
       'Escape: The Curse of the Temple', 'Mage Wars Arena',
       'Russian Railroads', 'YINSH', '7 Wonders', 'Sushi Go!',
       'Ticket to Ride: Märklin', 'Elder Sign',
       'Dead of Winter: A Crossroads Game', 'In the Year of the Dragon',
       'The Resistance: Avalon', 'Attika', 'Macao', 'Jamaica',
       'Blue Moon City', 'Cranium', 'Suburbia', 'BANG! The Dice Game',
       'Diamant', 'Mansions of Madness', 'PitchCar', "Memoir '44",
       'Endeavor', 'War of the Ring (first edition)',
       'Caverna: The Cave Farmers', 'Ticket to Ride: Nordic Countries',
       'The Castles of Burgundy', 'Cuba', 'Innovation', 'Glory to Rome',
       'Mystery of the Abbey', 'Space Hulk: Death Angel – The Card Game',
       'The Resistance', 'Runewars', 'The Pillars of the Earth',
       'Legends of Andor', 'Biblios',
       'Pathfinder Adventure Card Game: Rise of the Runelords – Base Set',
       'Legendary: A Marvel Deck Building Game', '6 nimmt!',
       'Firefly: The Game', 'Castle Panic', 'Crokinole', 'Scotland Yard',
       'BattleLore', 'Wizard', 'Taluva', 'Eclipse', 'Civilization',
       'Zooloretto', 'Star Realms', 'Ingenious', 'Lords of Waterdeep',
       'Star Wars: X-Wing Miniatures Game',
       'Sherlock Holmes Consulting Detective: The Thames Murders & Other Cases',
       'Notre Dame', 'A Few Acres of Snow', 'Istanbul', 'Neuroshima Hex!',
       'Hanabi', 'Archipelago', 'Citadels', 'Diplomacy', 'Dungeon Lords',
       'Jambo', "Loopin' Louie", 'Love Letter',
       'One Night Ultimate Werewolf', 'Race for the Galaxy',
       'Chicago Express', 'San Juan', 'Through the Desert',
       'Ticket to Ride', 'Small World Underground', 'Fairy Tale',
       'Niagara', 'Navegador', 'Pandemic', 'Bohnanza', 'Formula D',
       'Carcassonne: The River', 'K2', 'Dominion: Alchemy', 'Mysterium',
       'Orléans', "Hey, That's My Fish!", 'A Feast for Odin',
       'Quadropolis', 'Mille Bornes', 'Patchwork', 'Taboo', 'Santorini',
       'The Voyages of Marco Polo', 'Viticulture', 'Mechs vs. Minions',
       'Tiny Epic Galaxies', 'Elysium', 'Pandemic: The Cure',
       '7 Wonders Duel', 'Five Tribes', 'SET', 'Pickomino', 'Yahtzee',
       'Great Western Trail', 'T.I.M.E Stories', 'Codenames', 'Machi Koro',
       'Mansions of Madness: Second Edition', 'Labyrinth',
       'Through the Ages: A New Story of Civilization', 'Above and Below',
       'TransAmerica', 'Carcassonne: Expansion 2 – Traders & Builders',
       'Risk 2210 A.D.', 'Carcassonne: Hunters and Gatherers',
       'Kingdomino', 'Legendary Encounters: An Alien Deck Building Game',
       'Food Chain Magnate', 'Rummikub', 'Trivial Pursuit', 'Carcassonne',
       'Scythe', 'Catan: Seafarers', 'Scattergories',
       'Catan: 5-6 Player Extension', 'Camel Up', 'Mombasa', 'Port Royal',
       'Isle of Skye: From Chieftain to King', 'Terraforming Mars',
       'Lost Cities', 'The Grizzled', 'Stratego', 'Monopoly', 'Munchkin',
       'Blokus', 'Arkham Horror: The Card Game',
       'Heroscape Master Set: Rise of the Valkyrie', 'Zombies!!!', 'Dixit',
       'Carcassonne: Expansion 1 – Inns & Cathedrals',
       'Roll for the Galaxy', 'Catan: Cities & Knights', 'Arcadia Quest',
       'The Great Dalmuti', 'Red7', 'Clank!: A Deck-Building Adventure',
       'Fury of Dracula (second edition)', 'Spyfall',
       'Last Night on Earth: The Zombie Game', 'Evolution', 'Colt Express',
       'Apples to Apples', 'Viticulture Essential Edition', 'Red November',
       'Checkers', 'Pandemic Legacy: Season 1', 'Dixit Odyssey',
       'Alchemists', 'Risk', 'Race for the Galaxy: The Gathering Storm',
       'Star Wars: Rebellion', 'Skull', 'Clue', '7 Wonders: Cities',
       'XCOM: The Board Game', 'Welcome to the Dungeon',
       'Carcassonne: Expansion 3 – The Princess & The Dragon', 'Abyss',
       'Pandemic: On the Brink', 'Dixit Quest', 'Battleship',
       '7 Wonders: Leaders', 'Talisman (Revised 4th Edition)', 'Jenga',
       'Jungle Speed', 'Monopoly Deal Card Game',
       'Citadels:  The Dark City', 'Between Two Cities', 'Dungeon Roll',
       'Ticket to Ride: USA 1910', 'Bananagrams', 'Tokaido',
       'Captain Sonar', 'Codenames: Pictures',
       'Lords of Waterdeep: Scoundrels of Skullport', 'BANG! The Bullet!',
       'Forbidden Desert', 'Sheriff of Nottingham', 'Sushi Go Party!',
       'Cribbage', "Ca$h 'n Guns (Second Edition)", 'Zombie Dice',
       'Zombicide: Black Plague', 'Telestrations', 'Exploding Kittens',
       'Blood Rage', 'Boss Monster: The Dungeon Building Card Game',
       'Takenoko', 'Mascarade', 'Gloom', 'Deception: Murder in Hong Kong',
       'The Game of Life', 'Arkham Horror: Dunwich Horror Expansion',
       'King of Tokyo: Power Up!', 'Fury of Dracula (third edition)',
       'Munchkin 2: Unnatural Axe'], dtype=object)

In [456]:
ratings.describe() #top is the most common (i.e mode)

       user_id game_id rating      title
count    59324   59324  59324      59324
unique     200     402    317        402
top     187094   68448      7  7 Wonders
freq       383     197  13170        197

Ratings descriptive stats

In [457]:
ratings['rating'].describe()

count     59324
unique      317
top           7
freq      13170
Name: rating, dtype: object

In [458]:
ratings['rating'].median()

7.0

In [459]:
ratings['rating'].mode()

0    7
dtype: object

USER ID descriptive stats

In [460]:
ratings['user_id'].describe()

count      59324
unique       200
top       187094
freq         383
Name: user_id, dtype: object

Ratings descriptive stats

In [461]:
ratings['game_id'].describe()

count     59324
unique      402
top       68448
freq        197
Name: game_id, dtype: object

Setting Ratings to Numeric

In [462]:
ratings.rating = pd.to_numeric(ratings.rating, errors='coerce').fillna(0).astype(np.int64)

Groupby

In [463]:
gb_title = ratings['rating'].groupby(ratings['title'])

In [464]:
#Titles with average greater than 7
gb_title_avg=gb_title.mean()
gb_title_avg[gb_title_avg>7].sort_values().tail()

title
Puerto Rico                                      7.803109
Dominion: Prosperity                             7.840909
Pandemic Legacy: Season 1                        7.848276
Terra Mystica                                    7.857143
Through the Ages: A New Story of Civilization    8.000000
Name: rating, dtype: float64

In [465]:
#titles with median greater than 7
gb_title_med=gb_title.median()
gb_title_avg[gb_title_avg>7].sort_values().tail()

title
Puerto Rico                                      7.803109
Dominion: Prosperity                             7.840909
Pandemic Legacy: Season 1                        7.848276
Terra Mystica                                    7.857143
Through the Ages: A New Story of Civilization    8.000000
Name: rating, dtype: float64

In [466]:
# Number of Reviews for each title
gb_title_cnt=gb_title.count()
gb_title_cnt.sort_values().tail()

title
The Castles of Burgundy    195
Lords of Waterdeep         196
Citadels                   196
Ticket to Ride             196
7 Wonders                  197
Name: rating, dtype: int64

In [467]:
Ratings_Cats_Meow=ratings.copy()

In [468]:
Ratings_Cats_Meow[:3]

  user_id game_id  rating title
0     272    9216       1   Goa
1     388    9216      10   Goa
2     430    9216       8   Goa

Groupby rating less than 3

In [469]:
gb_cats_meow_one=Ratings_Cats_Meow[Ratings_Cats_Meow['rating']<4]
gb_cats_meow_one.sort_values('rating')

      user_id game_id  rating                                           title
0         272    9216       1                                             Goa
23848   44871     258       1                                           Fluxx
23851   54797     258       1                                           Fluxx
23863   74377     258       1                                           Fluxx
23871   86991     258       1                                           Fluxx
23874   96794     258       1                                           Fluxx
23882  101885     258       1                                           Fluxx
23899  132526     258       1                                           Fluxx
23926  166007     258       1                                           Fluxx
23940     272   21763       1                                        Mr. Jack
24109     272  113924       1                                       Zombicide
24163   96422  113924       1                                       Zombicide
24229     272   54998       1                                        Cyclades
24397     272  127023       1                                           Kemet
24526  166007  127023       1                                           Kemet
24545     272   62219       1                                Dominant Species
24719     272   40834       1                              Dominion: Intrigue
24902     272   37380       1           Roll Through the Ages: The Bronze Age
25088     272   12333       1                               Twilight Struggle
25142   55101   12333       1                               Twilight Struggle
23846   43932     258       1                                           Fluxx
23822    5480     258       1                                           Fluxx
23625     272      42       1                              Tigris & Euphrates
23593  153013  102652       1                     Sentinels of the Multiverse
20757  134145   25821       1               The Werewolves of Miller's Hollow
20790     272    3076       1                                     Puerto Rico
20983     272   27173       1                                         Vikings
21150     272  104162       1  Descent: Journeys in the Dark (Second Edition)
21293     272   42215       1                                          Tobago
21467     272   70323       1                                   King of Tokyo
...       ...     ...     ...                                             ...
39820  135393   79828       3                             A Few Acres of Snow
19620   74377   15062       3                            Shadows over Camelot
19681  135393   15062       3                            Shadows over Camelot
19732  181123   15062       3                            Shadows over Camelot
39581   43932   25554       3                                      Notre Dame
19492  135393  126163       3                    Tzolk'in: The Mayan Calendar
40765   70647     483       3                                       Diplomacy
40300   96412   98778       3                                          Hanabi
40339  132779   98778       3                                          Hanabi
40761   66705     483       3                                       Diplomacy
40760   64331     483       3                                       Diplomacy
19297   44871    1234       3    Once Upon a Time: The Storytelling Card Game
19302   66705    1234       3    Once Upon a Time: The Storytelling Card Game
40721  180775     478       3                                        Citadels
40703  164101     478       3                                        Citadels
40561   26561     478       3                                        Citadels
40546    9363     478       3                                        Citadels
40492  135393  105551       3                                     Archipelago
40490  132779  105551       3                                     Archipelago
40483  127141  105551       3                                     Archipelago
40480  123709  105551       3                                     Archipelago
40477  121369  105551       3                                     Archipelago
19322  119312    1234       3    Once Upon a Time: The Storytelling Card Game
40408   16886  105551       3                                     Archipelago
19344  155243    1234       3    Once Upon a Time: The Storytelling Card Game
19347  161305    1234       3    Once Upon a Time: The Storytelling Card Game
3387   177909   31260       3                                        Agricola
40363  156708   98778       3                                          Hanabi
19425   64331  126163       3                    Tzolk'in: The Mayan Calendar
59322  181339    3943       3                       Munchkin 2: Unnatural Axe

[2563 rows x 4 columns]

In [470]:
gb_cats_meow_one = gb_cats_meow_one.pivot_table(index=['user_id'],columns=['title'],values='rating')
gb_cats_meow_one.head()

title,1960: The Making of the President,6 nimmt!,7 Wonders,7 Wonders: Leaders,A Feast for Odin,A Few Acres of Snow,A Game of Thrones (first edition),A Game of Thrones: The Board Game (Second Edition),Above and Below,Abyss,...,Wizard,XCOM: The Board Game,YINSH,Yahtzee,Yspahan,Zombicide,Zombicide: Black Plague,Zombie Dice,Zombies!!!,Zooloretto
user_id,,,,,,,,,,,,,,,,,,,,,
100055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100383,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100790,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101885,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Groupby rating greater than 6

In [471]:
gb_cats_meow_two=Ratings_Cats_Meow[Ratings_Cats_Meow['rating']>6]
gb_cats_meow_two

      user_id game_id  rating                            title
1         388    9216      10                              Goa
2         430    9216       8                              Goa
3        2044    9216       8                              Goa
4        3080    9216       8                              Goa
5        3256    9216       9                              Goa
6        5038    9216       7                              Goa
7        5217    9216       9                              Goa
8        5480    9216       8                              Goa
9        7100    9216       8                              Goa
10       9363    9216       8                              Goa
12      11829    9216       8                              Goa
13      12305    9216       7                              Goa
14      12779    9216       8                              Goa
15      13527    9216       8                              Goa
19      18711    9216       8                              Goa
20      19677    9216       8                              Goa
21      21033    9216       8                              Goa
23      26532    9216       7                              Goa
24      26561    9216       7                              Goa
25      26632    9216       8                              Goa
26      27106    9216       8                              Goa
27      27853    9216       7                              Goa
29      28809    9216       7                              Goa
30      30507    9216       9                              Goa
31      32884    9216       7                              Goa
32      33226    9216       7                              Goa
33      34384    9216       7                              Goa
35      36041    9216      10                              Goa
36      37860    9216       8                              Goa
37      38378    9216       7                              Goa
...       ...     ...     ...                              ...
59246   96817  181279       7  Fury of Dracula (third edition)
59247   99598  181279       7  Fury of Dracula (third edition)
59248  100174  181279      10  Fury of Dracula (third edition)
59249  100383  181279       8  Fury of Dracula (third edition)
59250  101583  181279       8  Fury of Dracula (third edition)
59252  112805  181279       9  Fury of Dracula (third edition)
59253  112817  181279       8  Fury of Dracula (third edition)
59254  119312  181279       8  Fury of Dracula (third edition)
59255  119417  181279       8  Fury of Dracula (third edition)
59257  126571  181279       8  Fury of Dracula (third edition)
59258  131669  181279       8  Fury of Dracula (third edition)
59259  131866  181279       8  Fury of Dracula (third edition)
59260  132779  181279       7  Fury of Dracula (third edition)
59262  141993  181279       7  Fury of Dracula (third edition)
59263  142253  181279       7  Fury of Dracula (third edition)
59264  144814  181279       7  Fury of Dracula (third edition)
59267  153013  181279      10  Fury of Dracula (third edition)
59268  155092  181279       8  Fury of Dracula (third edition)
59273  164714  181279       7  Fury of Dracula (third edition)
59275  169530  181279       8  Fury of Dracula (third edition)
59278  177909  181279       9  Fury of Dracula (third edition)
59279  187094  181279       8  Fury of Dracula (third edition)
59282  193339  181279       8  Fury of Dracula (third edition)
59286   30507    3943       8        Munchkin 2: Unnatural Axe
59291   46084    3943       7        Munchkin 2: Unnatural Axe
59294   61537    3943       7        Munchkin 2: Unnatural Axe
59299   86991    3943       8        Munchkin 2: Unnatural Axe
59300   96794    3943       7        Munchkin 2: Unnatural Axe
59303  112805    3943       8        Munchkin 2: Unnatural Axe
59311  154394    3943       7        Munchkin 2: Unnatural Axe

[35634 rows x 4 columns]

In [472]:
gb_cats_meow_two = gb_cats_meow_two.pivot_table(index=['user_id'],columns=['title'],values='rating')
gb_cats_meow_two.head()

title,1960: The Making of the President,6 nimmt!,7 Wonders,7 Wonders Duel,7 Wonders: Cities,7 Wonders: Leaders,A Feast for Odin,A Few Acres of Snow,A Game of Thrones (first edition),A Game of Thrones: The Board Game (Second Edition),...,Wizard,XCOM: The Board Game,YINSH,Yahtzee,Yspahan,Zombicide,Zombicide: Black Plague,Zombie Dice,Zombies!!!,Zooloretto
user_id,,,,,,,,,,,,,,,,,,,,,
100055,NaN,9.0,10.0,9.0,NaN,NaN,9.0,NaN,NaN,NaN,...,8.0,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN
100174,10.0,NaN,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,...,10.0,10.0,10.0,10.0,10.0,10.0,10.0,NaN,NaN,NaN
100383,8.0,9.0,7.0,7.0,7.0,7.0,NaN,7.0,NaN,NaN,...,NaN,NaN,7.0,NaN,8.0,NaN,NaN,NaN,NaN,7.0
100790,NaN,NaN,7.0,NaN,NaN,NaN,7.0,NaN,7.0,NaN,...,7.0,NaN,NaN,NaN,7.0,7.0,NaN,NaN,NaN,7.0
101462,NaN,NaN,NaN,7.0,NaN,NaN,NaN,7.0,7.0,NaN,...,NaN,8.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [473]:
userRatings = ratings.pivot_table(index=['user_id'],columns=['title'],values='rating')
#userRatings = userRatings.dropna(axis=1,how='all')
userRatings

title,1960: The Making of the President,6 nimmt!,7 Wonders,7 Wonders Duel,7 Wonders: Cities,7 Wonders: Leaders,A Feast for Odin,A Few Acres of Snow,A Game of Thrones (first edition),A Game of Thrones: The Board Game (Second Edition),...,Wizard,XCOM: The Board Game,YINSH,Yahtzee,Yspahan,Zombicide,Zombicide: Black Plague,Zombie Dice,Zombies!!!,Zooloretto
user_id,,,,,,,,,,,,,,,,,,,,,
100055,NaN,9.0,10.0,9.0,NaN,NaN,9.0,NaN,NaN,NaN,...,8.0,NaN,NaN,7.0,6.0,NaN,NaN,NaN,NaN,6.0
100174,10.0,NaN,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,...,10.0,10.0,10.0,10.0,10.0,10.0,10.0,NaN,NaN,NaN
100383,8.0,9.0,7.0,7.0,7.0,7.0,NaN,7.0,2.0,6.0,...,6.0,NaN,7.0,5.0,8.0,5.0,NaN,NaN,NaN,7.0
100790,NaN,5.0,7.0,NaN,NaN,NaN,7.0,NaN,7.0,NaN,...,7.0,NaN,NaN,NaN,7.0,7.0,NaN,5.0,NaN,7.0
101462,6.0,5.0,5.0,7.0,NaN,5.0,NaN,7.0,7.0,NaN,...,6.0,8.0,8.0,4.0,6.0,NaN,NaN,NaN,NaN,5.0
101583,6.0,7.0,6.0,7.0,NaN,6.0,NaN,9.0,9.0,9.0,...,NaN,6.0,9.0,5.0,6.0,NaN,NaN,4.0,7.0,6.0
101885,NaN,8.0,4.0,NaN,NaN,NaN,NaN,7.0,4.0,NaN,...,6.0,NaN,7.0,6.0,5.0,NaN,NaN,NaN,NaN,5.0
103398,6.0,8.0,6.0,6.0,NaN,6.0,7.0,5.0,6.0,7.0,...,6.0,NaN,3.0,6.0,6.0,NaN,NaN,NaN,NaN,7.0
104693,5.0,8.0,4.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,7.0,5.0,5.0,6.0,6.0,6.0,3.0,7.0
105883,8.0,8.0,7.0,7.0,7.0,8.0,NaN,7.0,8.0,NaN,...,6.0,NaN,7.0,NaN,8.0,7.0,NaN,5.0,4.0,8.0
107382,7.0,6.0,6.0,7.0,6.0,6.0,9.0,5.0,6.0,5.0,...,NaN,6.0,6.0,4.0,6.0,5.0,NaN,4.0,NaN,6.0
111553,7.0,6.0,8.0,NaN,NaN,NaN,10.0,6.0,6.0,NaN,...,6.0,NaN,NaN,NaN,8.0,8.0,NaN,NaN,NaN,8.0
112355,8.0,6.0,8.0,9.0,8.0,9.0,9.0,10.0,9.0,9.0,...,8.0,NaN,NaN,NaN,9.0,NaN,NaN,6.0,NaN,NaN
112805,8.0,NaN,7.0,8.0,7.0,NaN,NaN,7.0,8.0,7.0,...,6.0,7.0,7.0,NaN,8.0,7.0,NaN,7.0,7.0,6.0
112817,8.0,6.0,8.0,7.0,NaN,NaN,9.0,7.0,NaN,8.0,...,NaN,5.0,4.0,5.0,6.0,7.0,NaN,5.0,5.0,NaN
11321,NaN,6.0,9.0,9.0,NaN,NaN,7.0,NaN,NaN,6.0,...,6.0,NaN,7.0,5.0,7.0,4.0,NaN,6.0,NaN,7.0
114589,8.0,5.0,8.0,8.0,8.0,8.0,NaN,8.0,7.0,7.0,...,7.0,7.0,8.0,4.0,8.0,8.0,NaN,4.0,3.0,7.0
116385,8.0,7.0,7.0,8.0,8.0,6.0,NaN,8.0,NaN,8.0,...,7.0,9.0,8.0,NaN,NaN,8.0,7.0,6.0,NaN,7.0
118003,7.0,8.0,7.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,...,NaN,5.0,8.0,4.0,6.0,NaN,NaN,5.0,NaN,7.0
11829,7.0,6.0,5.0,NaN,NaN,5.0,NaN,5.0,6.0,6.0,...,NaN,5.0,NaN,3.0,7.0,5.0,5.0,5.0,NaN,6.0
119312,8.0,7.0,5.0,5.0,NaN,NaN,8.0,8.0,7.0,6.0,...,4.0,8.0,7.0,NaN,6.0,3.0,7.0,NaN,5.0,3.0
119417,NaN,7.0,6.0,7.0,7.0,8.0,NaN,4.0,NaN,7.0,...,6.0,6.0,6.0,4.0,7.0,6.0,6.0,6.0,6.0,NaN
119609,7.0,8.0,8.0,NaN,NaN,6.0,NaN,8.0,8.0,8.0,...,7.0,NaN,8.0,NaN,8.0,NaN,NaN,NaN,NaN,7.0
121054,NaN,7.0,8.0,8.0,9.0,9.0,8.0,NaN,8.0,NaN,...,NaN,NaN,7.0,5.0,7.0,NaN,NaN,NaN,NaN,7.0
121225,NaN,7.0,5.0,7.0,6.0,6.0,7.0,7.0,6.0,NaN,...,7.0,4.0,8.0,3.0,6.0,4.0,NaN,5.0,NaN,7.0
121369,4.0,8.0,6.0,7.0,NaN,2.0,4.0,5.0,NaN,3.0,...,NaN,5.0,7.0,NaN,NaN,NaN,NaN,3.0,1.0,4.0
121994,7.0,4.0,8.0,8.0,8.0,7.0,8.0,NaN,NaN,6.0,...,NaN,NaN,6.0,2.0,6.0,4.0,NaN,4.0,NaN,3.0
122316,6.0,6.0,6.0,7.0,6.0,NaN,7.0,7.0,8.0,NaN,...,6.0,NaN,6.0,NaN,7.0,NaN,NaN,6.0,3.0,7.0
12305,10.0,NaN,10.0,6.0,NaN,NaN,3.0,8.0,7.0,6.0,...,NaN,7.0,9.0,NaN,6.0,8.0,8.0,6.0,NaN,6.0
123709,6.0,7.0,7.0,8.0,NaN,NaN,7.0,6.0,4.0,NaN,...,5.0,NaN,9.0,4.0,7.0,6.0,NaN,NaN,NaN,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70647,6.0,6.0,7.0,7.0,NaN,NaN,8.0,5.0,7.0,NaN,...,5.0,NaN,7.0,NaN,3.0,5.0,7.0,2.0,5.0,5.0
7100,6.0,7.0,7.0,7.0,NaN,6.0,NaN,5.0,6.0,7.0,...,5.0,4.0,6.0,5.0,7.0,NaN,NaN,5.0,4.0,6.0
71281,6.0,4.0,4.0,6.0,NaN,NaN,6.0,4.0,4.0,4.0,...,4.0,2.0,6.0,2.0,4.0,2.0,2.0,2.0,2.0,4.0
71551,9.0,6.0,8.0,8.0,NaN,8.0,7.0,8.0,7.0,NaN,...,8.0,7.0,8.0,NaN,8.0,NaN,NaN,NaN,NaN,7.0
7240,NaN,NaN,10.0,8.0,7.0,8.0,5.0,NaN,5.0,NaN,...,NaN,5.0,NaN,6.0,8.0,3.0,NaN,6.0,4.0,7.0
74377,7.0,8.0,8.0,7.0,NaN,7.0,NaN,7.0,3.0,NaN,...,5.0,5.0,7.0,5.0,NaN,NaN,NaN,6.0,4.0,8.0
76252,NaN,9.0,6.0,7.0,6.0,7.0,5.0,NaN,6.0,3.0,...,7.0,NaN,6.0,3.0,7.0,NaN,NaN,4.0,2.0,6.0
76624,8.0,8.0,8.0,8.0,NaN,8.0,9.0,7.0,9.0,10.0,...,8.0,8.0,8.0,6.0,8.0,9.0,NaN,5.0,NaN,6.0
77337,NaN,8.0,7.0,9.0,7.0,7.0,10.0,6.0,6.0,6.0,...,7.0,6.0,NaN,NaN,7.0,NaN,NaN,4.0,4.0,6.0
80085,NaN,8.0,8.0,NaN,NaN,NaN,9.0,NaN,8.0,8.0,...,NaN,8.0,9.0,5.0,8.0,NaN,NaN,NaN,NaN,7.0
80659,8.0,7.0,7.0,7.0,NaN,NaN,NaN,6.0,NaN,7.0,...,7.0,NaN,8.0,3.0,6.0,NaN,NaN,NaN,3.0,8.0
80786,NaN,3.0,6.0,NaN,NaN,7.0,8.0,NaN,5.0,8.0,...,NaN,5.0,6.0,NaN,NaN,NaN,NaN,5.0,NaN,7.0
81956,9.0,NaN,7.0,9.0,8.0,8.0,9.0,9.0,7.0,8.0,...,7.0,8.0,NaN,4.0,8.0,7.0,9.0,NaN,NaN,7.0
83092,8.0,6.0,7.0,6.0,NaN,NaN,6.0,8.0,9.0,7.0,...,6.0,NaN,8.0,NaN,8.0,6.0,NaN,NaN,NaN,5.0
85009,7.0,8.0,8.0,8.0,NaN,NaN,NaN,NaN,8.0,8.0,...,5.0,7.0,7.0,NaN,6.0,NaN,NaN,5.0,5.0,5.0
86405,NaN,7.0,7.0,8.0,NaN,7.0,8.0,NaN,8.0,8.0,...,6.0,8.0,NaN,6.0,6.0,NaN,7.0,NaN,NaN,8.0
86991,NaN,9.0,6.0,8.0,7.0,7.0,10.0,NaN,NaN,8.0,...,8.0,7.0,NaN,4.0,6.0,8.0,8.0,7.0,8.0,8.0
88176,8.0,8.0,8.0,9.0,NaN,8.0,NaN,9.0,9.0,8.0,...,7.0,NaN,NaN,7.0,9.0,8.0,NaN,7.0,NaN,7.0
93535,7.0,NaN,7.0,7.0,NaN,NaN,NaN,8.0,8.0,8.0,...,NaN,7.0,8.0,NaN,7.0,7.0,NaN,7.0,5.0,8.0
9363,4.0,6.0,8.0,NaN,8.0,8.0,NaN,NaN,NaN,NaN,...,6.0,7.0,NaN,5.0,6.0,8.0,NaN,3.0,NaN,7.0
94593,7.0,NaN,6.0,7.0,NaN,NaN,6.0,7.0,7.0,8.0,...,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,5.0,6.0
95213,8.0,6.0,8.0,8.0,7.0,8.0,8.0,8.0,NaN,NaN,...,7.0,NaN,8.0,NaN,7.0,NaN,NaN,NaN,NaN,NaN
96412,6.0,NaN,8.0,8.0,NaN,NaN,7.0,9.0,7.0,NaN,...,NaN,NaN,4.0,4.0,7.0,NaN,NaN,4.0,NaN,6.0
96422,8.0,6.0,7.0,8.0,7.0,7.0,8.0,9.0,NaN,8.0,...,NaN,7.0,7.0,NaN,2.0,1.0,1.0,NaN,NaN,7.0
96794,10.0,9.0,10.0,7.0,7.0,7.0,9.0,9.0,7.0,8.0,...,NaN,NaN,NaN,4.0,7.0,8.0,NaN,NaN,7.0,7.0
96817,6.0,7.0,7.0,8.0,7.0,7.0,9.0,10.0,6.0,7.0,...,NaN,7.0,NaN,5.0,7.0,7.0,NaN,NaN,NaN,7.0
99214,4.0,6.0,7.0,8.0,7.0,6.0,NaN,7.0,1.0,9.0,...,NaN,6.0,9.0,2.0,NaN,NaN,NaN,NaN,2.0,7.0
99306,7.0,7.0,7.0,NaN,7.0,7.0,NaN,7.0,5.0,NaN,...,NaN,8.0,NaN,NaN,6.0,6.0,NaN,6.0,NaN,7.0
99598,5.0,NaN,7.0,6.0,NaN,NaN,6.0,7.0,7.0,7.0,...,NaN,4.0,5.0,NaN,5.0,5.0,6.0,NaN,7.0,8.0
9999999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,4.0,NaN

In [474]:
corrMatrix = userRatings.corr()
corrMatrix.head()

title,1960: The Making of the President,6 nimmt!,7 Wonders,7 Wonders Duel,7 Wonders: Cities,7 Wonders: Leaders,A Feast for Odin,A Few Acres of Snow,A Game of Thrones (first edition),A Game of Thrones: The Board Game (Second Edition),...,Wizard,XCOM: The Board Game,YINSH,Yahtzee,Yspahan,Zombicide,Zombicide: Black Plague,Zombie Dice,Zombies!!!,Zooloretto
title,,,,,,,,,,,,,,,,,,,,,
1960: The Making of the President,1.000000,0.303162,0.467949,0.313209,0.373976,0.532885,0.220747,0.420741,0.342503,0.294846,...,0.268085,0.247562,0.343572,0.209730,0.394444,0.407531,0.393965,0.420390,0.324247,0.322086
6 nimmt!,0.303162,1.000000,0.239066,0.124045,0.074838,0.114512,0.165932,0.261182,0.144023,0.165384,...,0.421091,0.087594,0.335494,0.261912,0.249098,0.191577,-0.010439,0.353160,0.176690,0.345537
7 Wonders,0.467949,0.239066,1.000000,0.564393,0.613150,0.644046,0.235882,0.423036,0.360871,0.426540,...,0.271215,0.249229,0.258064,0.373459,0.480003,0.422234,0.274371,0.224224,0.212718,0.377307
7 Wonders Duel,0.313209,0.124045,0.564393,1.000000,0.547575,0.496099,0.352776,0.466634,0.263157,0.339881,...,0.255359,0.442255,0.303554,0.148925,0.449497,0.311363,0.317211,0.298021,0.108776,0.306511
7 Wonders: Cities,0.373976,0.074838,0.613150,0.547575,1.000000,0.774936,0.282140,0.504302,0.329498,0.358119,...,0.065039,0.509350,0.410555,0.196589,0.340791,0.329012,0.516650,0.228505,0.178352,0.346320

In [475]:
corrMatrix = userRatings.corr(method='pearson', min_periods=100)
corrMatrix.head()

title,1960: The Making of the President,6 nimmt!,7 Wonders,7 Wonders Duel,7 Wonders: Cities,7 Wonders: Leaders,A Feast for Odin,A Few Acres of Snow,A Game of Thrones (first edition),A Game of Thrones: The Board Game (Second Edition),...,Wizard,XCOM: The Board Game,YINSH,Yahtzee,Yspahan,Zombicide,Zombicide: Black Plague,Zombie Dice,Zombies!!!,Zooloretto
title,,,,,,,,,,,,,,,,,,,,,
1960: The Making of the President,1.000000,0.303162,0.467949,0.313209,NaN,0.532885,NaN,0.420741,0.342503,0.294846,...,NaN,NaN,0.343572,NaN,0.394444,NaN,NaN,NaN,NaN,0.322086
6 nimmt!,0.303162,1.000000,0.239066,0.124045,NaN,0.114512,0.165932,0.261182,0.144023,0.165384,...,0.421091,0.087594,0.335494,0.261912,0.249098,0.191577,NaN,0.353160,NaN,0.345537
7 Wonders,0.467949,0.239066,1.000000,0.564393,0.61315,0.644046,0.235882,0.423036,0.360871,0.426540,...,0.271215,0.249229,0.258064,0.373459,0.480003,0.422234,NaN,0.224224,NaN,0.377307
7 Wonders Duel,0.313209,0.124045,0.564393,1.000000,NaN,0.496099,0.352776,0.466634,0.263157,0.339881,...,0.255359,0.442255,0.303554,0.148925,0.449497,0.311363,NaN,0.298021,NaN,0.306511
7 Wonders: Cities,NaN,NaN,0.613150,NaN,1.00000,0.774936,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [476]:
myRatings = userRatings.iloc[199].dropna()
myRatings

title
Apples to Apples                            5.0
Axis & Allies                               4.0
Backgammon                                  4.0
Cards Against Humanity                      4.0
Catan                                       8.0
Catan: 5-6 Player Extension                 7.0
Catan: Cities & Knights                     7.0
Checkers                                    3.0
Chess                                       7.0
Clue                                        6.0
Cranium                                     2.0
Dixit                                       6.0
Dixit Quest                                 4.0
Forbidden Island                            5.0
Gloom                                       5.0
Go                                          4.0
Magic: The Gathering                        9.0
Monopoly                                    4.0
Munchkin                                    5.0
Mysterium                                   6.0
Pandemic                                    6.0
Risk                                        7.0
Scrabble                                    4.0
Shogun                                      6.0
Sid Meier's Civilization: The Board Game    5.0
Star Realms                                 6.0
Stratego                                    4.0
Taboo                                       5.0
UNO                                         3.0
Yahtzee                                     2.0
Zombies!!!                                  4.0
Name: 9999999, dtype: float64

In [477]:
simCandidates = pd.Series()
for i in range(0, len(myRatings.index)):
    print("Adding sims for " + myRatings.index[i] + "...")
    # Retrieve similar games to the ones that I rated
    sims = corrMatrix[myRatings.index[i]].dropna()
    # Now scale its similarity by how well I rated this game
    sims = sims.map(lambda x: x * myRatings[i])
    # Add the score to the list of similar candidates
    simCandidates = simCandidates.append(sims)
    
#Glance at our results so far:
print("sorting...")
simCandidates.sort_values(inplace = True, ascending = False)
print(simCandidates.head(50))

Adding sims for Apples to Apples...
Adding sims for Axis & Allies...
Adding sims for Backgammon...
Adding sims for Cards Against Humanity...
Adding sims for Catan...
Adding sims for Catan: 5-6 Player Extension...
Adding sims for Catan: Cities & Knights...
Adding sims for Checkers...
Adding sims for Chess...
Adding sims for Clue...
Adding sims for Cranium...
Adding sims for Dixit...
Adding sims for Dixit Quest...
Adding sims for Forbidden Island...
Adding sims for Gloom...
Adding sims for Go...
Adding sims for Magic: The Gathering...
Adding sims for Monopoly...
Adding sims for Munchkin...
Adding sims for Mysterium...
Adding sims for Pandemic...
Adding sims for Risk...
Adding sims for Scrabble...
Adding sims for Shogun...
Adding sims for Sid Meier's Civilization: The Board Game...
Adding sims for Star Realms...
Adding sims for Stratego...
Adding sims for Taboo...
Adding sims for UNO...
Adding sims for Yahtzee...
Adding sims for Zombies!!!...
sorting...
Magic: The Gathering                        9.000000
Catan                                       8.000000
Chess                                       7.000000
Risk                                        7.000000
Catan: Cities & Knights                     7.000000
Mysterium                                   6.000000
Star Realms                                 6.000000
Shogun                                      6.000000
Pandemic                                    6.000000
Clue                                        6.000000
Dixit                                       6.000000
Dixit Odyssey                               5.179584
Apples to Apples                            5.000000
Forbidden Island                            5.000000
Munchkin                                    5.000000
Taboo                                       5.000000
Sid Meier's Civilization: The Board Game    5.000000
Catan: Cities & Knights                     4.683265
Catan                                       4.097856
Catan: Seafarers                            4.087583
Clue                                        4.074877
Monopoly                                    4.000000
Scrabble                                    4.000000
Stratego                                    4.000000
Backgammon                                  4.000000
Go                                          4.000000
Cards Against Humanity                      4.000000
Pandemic: On the Brink                      3.929347
Targi                                       3.920177
Bohnanza                                    3.869600
Lost Cities                                 3.749205
Age of Empires III: The Age of Discovery    3.724730
Catan Card Game                             3.705696
Ticket to Ride: Märklin                     3.647333
Go                                          3.634543
Ticket to Ride                              3.590060
A Few Acres of Snow                         3.503382
Risk                                        3.492752
Stone Age                                   3.475963
Puerto Rico                                 3.449338
Targi                                       3.438549
Alhambra                                    3.421783
The Pillars of the Earth                    3.406859
Spyfall                                     3.404299
San Juan                                    3.380340
Ticket to Ride: USA 1910                    3.348346
BANG!                                       3.341679
Ascension: Deckbuilding Game                3.335659
Can't Stop                                  3.323655
Ticket to Ride: Nordic Countries            3.298563
dtype: float64

Getting Rid of Duplicates by Adding Ratings

In [478]:
simCandidates = simCandidates.groupby(simCandidates.index).sum()

In [479]:
#simCandidates[:25].sort_values(ascending = False)

Recommended Games
==========

In [480]:
simCandidates.sort_values(inplace = True, ascending = False)
simCandidates.head(50)

Catan                                       40.561895
Forbidden Island                            38.186105
Pandemic                                    36.567545
Alhambra                                    35.817780
BANG!                                       35.637635
Ticket to Ride                              34.826735
Lords of Waterdeep                          34.547002
7 Wonders                                   34.204296
Citadels                                    34.081389
Stone Age                                   33.912424
Ticket to Ride: Europe                      33.574992
Machi Koro                                  32.816850
Eclipse                                     32.771196
Small World                                 32.485579
King of Tokyo                               32.153575
Kingsburg                                   32.073386
San Juan                                    31.969320
Can't Stop                                  31.815028
Thurn and Taxis                             31.658374
The Pillars of the Earth                    31.594522
Dominion: Intrigue                          31.485775
Jaipur                                      31.307653
Five Tribes                                 30.640951
Lost Cities                                 30.597555
Tikal                                       30.181850
Dixit                                       30.119207
Splendor                                    30.081320
Sid Meier's Civilization: The Board Game    30.029538
Dead of Winter: A Crossroads Game           30.020888
Trajan                                      29.976490
Fresco                                      29.858555
Suburbia                                    29.805308
Samurai                                     29.804044
Takenoko                                    29.559973
Quarriors!                                  29.511350
Nations                                     29.429203
Elder Sign                                  29.224253
Chess                                       29.132960
Battlestar Galactica: The Board Game        29.046879
Forbidden Desert                            29.026574
Memoir '44                                  28.938464
Android: Netrunner                          28.801155
Coloretto                                   28.764290
Terra Mystica                               28.714119
Ghost Stories                               28.696489
Alien Frontiers                             28.612854
Roll Through the Ages: The Bronze Age       28.488715
7 Wonders Duel                              28.436693
Shadows over Camelot                        28.350610
Sushi Go!                                   28.335232
dtype: float64

In [481]:
#myRatings

In [482]:
#simCandidates.index

In [483]:
#myRatings.index

Removing **My Ratings** From the Recommendations

In [484]:
filteredSims = simCandidates.drop(myRatings.index,errors='ignore')
filteredSims.head(30)

Alhambra                             35.817780
BANG!                                35.637635
Ticket to Ride                       34.826735
Lords of Waterdeep                   34.547002
7 Wonders                            34.204296
Citadels                             34.081389
Stone Age                            33.912424
Ticket to Ride: Europe               33.574992
Machi Koro                           32.816850
Eclipse                              32.771196
Small World                          32.485579
King of Tokyo                        32.153575
Kingsburg                            32.073386
San Juan                             31.969320
Can't Stop                           31.815028
Thurn and Taxis                      31.658374
The Pillars of the Earth             31.594522
Dominion: Intrigue                   31.485775
Jaipur                               31.307653
Five Tribes                          30.640951
Lost Cities                          30.597555
Tikal                                30.181850
Splendor                             30.081320
Dead of Winter: A Crossroads Game    30.020888
Trajan                               29.976490
Fresco                               29.858555
Suburbia                             29.805308
Samurai                              29.804044
Takenoko                             29.559973
Quarriors!                           29.511350
dtype: float64